@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

.container {
  color: #6d201c;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 14%;
  padding-right: 1em;
}

nav {
  width: 90%;
  border-radius: 79px;
  background-color: #fef7e2;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  height: 271px;
  text-align: center;
  justify-content: space-evenly;
}

nav button:first-of-type {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 77%;
  margin: 0 auto;
  height: 91px;
  font-size: 1.5em;
  font-weight: bold;
}

nav button {
  color: #6d201c;
  font-weight: bold;
  width: 34%;
  height: 44px;
  border: 0;
  background-color: #ffdf7f;
  border-radius: 60px;
}

/* main */

main {
  align-items: center;
  flex-direction: column;
  display: flex;
}

#card-container {
  align-items: center;
  flex-direction: column;
  display: flex;
}

main h1 {
  text-align: center;
  width: 60%;
  line-height: 1;
}
.card {
  width: 90%;
  margin-bottom: 2em;
}

.card img {
  width: 100%;
  border-radius: 60px 60px 0 0;
}

.specs {
  height: 130px;
  background-color: #fef7e2;
  border-radius: 0 0 60px 60px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.specs h2 {
  margin: 0;
  font-size: 1.2em;
  width: 200px;
  padding-right: 2em;
}
.specs h2 span {
  font-weight: 400;
}

.specs h3 {
  font-weight: 500;
}

.specs-text {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.specs button {
  width: 67%;
  height: 50px;
  border-radius: 60px;
  color: #6d201c;
  border: 0;
  background-color: #ffdf7f;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1em;
}

/* articles */

article {
  width: 90%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-article {
  padding: 0 2em;
  text-align: left;
  width: 90%;
  background-color: #fef7e2;
  border-radius: 60px;
}

.aside-article img {
  width: 100%;
  margin-bottom: 2em;
}

@media screen and (min-width: 481px) {
  #logo {
    width: 14%;
    padding-right: 1em;
  }

  body {
    margin: 0%;
  }

  nav {
    width: 100%;
    border-radius: 0;
    background-color: #fef7e2;
    display: flex;
    align-items: center;
    height: 171px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }

  nav button:first-of-type {
    align-items: center;
    display: flex;
    width: 25%;
    margin: 0;
    height: 91px;
    font-size: 1.5em;
    font-weight: bold;
    order: 3;
  }
  nav:nth-child() {
    order: 1;
  }
  nav button {
    width: 17%;
    height: 44px;
  }

  .smallButton1 {
    order: 1;
  }

  .smallButton2 {
    order: 2;
  }

  .smallButton3 {
    order: 4;
  }
  .smallButton4 {
    order: 5;
  }

  nav button {
    color: #6d201c;
    font-weight: bold;

    border: 0;
    background-color: #ffdf7f;
    border-radius: 60px;
  }

  main {
    width: 100%;
  }

  #card-container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
  }

  main h1 {
    text-align: center;
    width: 60%;
    line-height: 1;
  }
  .card {
    width: 43%;
    margin-bottom: 2em;
  }

  .card img {
    width: 100%;
    border-radius: 60px 60px 0 0;
  }

  .specs h2 {
    width: 130px;
  }

  article {
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  article > h1 {
    margin-left: 1em;
  }
}

@media screen and (min-width: 769px) {
  body {
    margin: 0;
  }

  .container {
    width: 100%;
  }
  nav {
    position: fixed;
    align-self: flex-start;
    width: 30%;
    background-color: #fef7e2;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 714px;
    justify-content: initial;
    border-radius: 0%;
  }

  main {
    width: 70%;
    display: flex;
  }

  main h1 {
    margin-left: 18px;
  }

  #card-container {
    margin-left: 70px;
    justify-content: space-between;
    width: 70%;
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 35%;
    margin: 20px;
  }

  .card img {
    width: 100%;
    border-radius: 33px 33px 0 0;
  }

  .specs {
    height: 130px;
    background-color: #fef7e2;
    border-radius: 0 0 33px 33px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .specs h2 {
    margin: 0;
    font-size: 0.7em;
    width: 72px;
    padding-right: 2em;
    text-align: center;
  }

  .specs h3 {
    font-size: 0.7em;
  }

  .specs button {
    width: 65%;
    height: 36px;
    font-size: 0.7em;
    margin-top: 18px;
  }

  #logo {
    width: 14%;
    padding-right: 1em;
  }

  nav button:first-of-type {
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70%;
    margin-top: 1em;
    height: 64px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .smallButton {
    width: 70%;
    height: 64px;
  }

  nav button {
    color: #6d201c;
    font-weight: bold;
    margin-bottom: 1em;
    border: 0;
    background-color: #ffdf7f;
    border-radius: 60px;
  }

  article {
    display: flex;
    width: 68%;
    align-items: baseline;
  }

  .aside-article {
    width: 84%;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 0;
  }

  .container {
    width: 100%;
  }
  nav {
    position: fixed;
    align-self: flex-start;
    width: 20%;
    background-color: #fef7e2;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 814px;
    justify-content: initial;
    border-radius: 0%;
  }

  main {
    margin-left: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  #card-container {
    margin-right: auto;
    width: 83%;
    display: flex;
    flex-direction: row;
  }

  .card {
    width: 35%;
    margin: 20px;
  }

  .card img {
    width: 100%;
    border-radius: 33px 33px 0 0;
  }

  .specs {
    height: 130px;
    background-color: #fef7e2;
    border-radius: 0 0 33px 33px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .specs h2 {
    margin: 0;
    font-size: 0.7em;
    width: 72px;
    padding-right: 2em;
    text-align: center;
  }

  .specs h3 {
    font-size: 0.7em;
  }

  .specs button {
    width: 65%;
    height: 36px;
    font-size: 0.7em;
    margin-top: 18px;
  }

  #logo {
    width: 14%;
    padding-right: 1em;
  }

  nav button:first-of-type {
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60%;
    margin-top: 1em;
    height: 64px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .smallButton {
    width: 60%;
    height: 64px;
  }

  nav button {
    color: #6d201c;
    font-weight: bold;
    margin-bottom: 1em;
    border: 0;
    background-color: #ffdf7f;
    border-radius: 60px;
  }

  article {
    width: 83%;
    margin-right: auto;
  }

  .aside-article {
    width: 83%;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .aside-article img {
    width: 20%;
    margin-bottom: 2em;
  }
}
